.Control {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.Control button {
  display: inline-block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 70px;
  border: 1px solid #ed1c24;
  cursor: pointer;
  outline: none;
}
.Control button:hover {
  background-color: #ffe54d;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}
.Subtract {
  background-color: #fc440f;
  color: white;
}
.Subtract:disabled {
  background-color: #a9aca9;
}
.Subtract:disabled:hover {
  background-color: #a9aca9;
}
.Add {
  background-color: #fc440f;
  color: white;
}
